{% extends 'base.html' %}
{% load static %}
{% block title %}
  Our Service
{% endblock title %}
{% block link %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
{% endblock link %}

{% block style %}
  <style>
    .box_outside {
      border: none;
    }

    .box_inside {
      border: none;
    }

    .box2 {
      border: 2px solid black;
    }

    dt:after {
      content: ": ";
    }

    @font-face {
      font-family: 'establishRetrosansOTF';
      src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff") format('woff');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'HANAMDAUM';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
      font-weight: 400;
      font-style: normal;
    }

    @font-face {
      font-family: 'S-CoreDream-3Light';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
  
    @font-face {
      font-family: 'TheJamsil5Bold';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
      font-weight: 50;
      font-style: normal;
    }

  </style>
{% endblock style %}

{% block content %}
  <div class="mt-5 container" style="height:100%;">
    <div class="mt-5" style="font-family: 'establishRetrosansOTF';">
      <h1 class="text-center my-3">Our Service</h1>
    </div>
    <hr>
    <div class="row mt-2">
      <div class="mt-5 text-center d-flex flex-column justify-content-center" style="margin-left:auto; margin-right:auto;">
        <h5 style="margin-top:10%; font-family: 'S-CoreDream-3Light';">OnClickTravel은 "여행을 사랑하는 모든 사람이 자유롭게 여행지 정보를 공유하도록 설계된 올인원 커뮤니티 사이트" 입니다. </h5>
        <h5 style="font-family: 'S-CoreDream-3Light';">주요 기능은 게시물, 공유 및 경험이라는 세 가지 키워드에 있으며</h5>
        <h5 style="font-family: 'S-CoreDream-3Light';">사용자에게 여행 경험에 대해 자유롭게 공유하고 여행 계획에 필요한 정보를 제공합니다.</h5>
        <h5 style="font-family: 'S-CoreDream-3Light';">사용자 친화적인 인터페이스를 통해 초보자와 숙련된 여행자 모두 쉽게 사용할 수 있으며</h5>
        <h5 style="font-family: 'S-CoreDream-3Light';">여행을 계획하기 위해 도움이 되는 다양한 정보와 리소스를 제공합니다.</h5>
      </div>
    </div>
    <div class="row" style="margin-top:10%">
      <div class="mt-5 text-center d-flex flex-column justify-content-center" style="margin-left:auto; margin-right:auto;">
        <div class="box_outside d-flex justify-content-evenly" style="width:100%">
          <div class="box_inside d-flex flex-column" style="height:25rem; display: flex; margin: 10px 30px">
            <dt class="mb-4" style="font-family: 'Kaushan Script', cursive;font-size: 40px;">Articles</dt>
             <dd style="font-family: 'S-CoreDream-3Light';">국내 관광지에 대한 정보를 게시판 형식으로 구성하여</dd>
              <dd style="font-family: 'S-CoreDream-3Light';">다양한 이용객들이 해당 게시물에 댓글과 사진을 올려서 다양한 경험을 공유할 수 있도록 합니다.</dd>
              <dd style="font-family: 'S-CoreDream-3Light';">이를 통해 사용자 간 소통과 정보 공유가 원활하게 이루어질 수 있습니다.</dd>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top:5%; height:100%; background-image: url({% static '/img/profile_bg.jpg' %}); background-size: cover;">
      <div class="mt-5 row">
        <div class="mt-5 text-center d-flex flex-column justify-content-center" style="margin-left:auto; margin-right:auto;">
          <div class="box_outside d-flex justify-content-evenly" style="width:100%">
            <div class="box_inside d-flex flex-column" style="height:25rem; display: flex; margin: 10px 30px">
              <dt class="mb-4" style="font-family: 'Kaushan Script', cursive;font-size: 40px;">Share</dt>
              <dd style="font-family: 'S-CoreDream-3Light';">다른 이용객들이 공유한 다양한 정보를 통해 관광지에 가고자 하는 이용객들은 도움을 받을 수 있습니다. </dd>
              <dd style="font-family: 'S-CoreDream-3Light';">공유된 정보를 토대로 여행 계획을 세우거나,</dd>
              <dd style="font-family: 'S-CoreDream-3Light';">여행 중 유용한 정보를 활용하여 보다 즐겁고 편안한 여행을 즐길 수 있습니다.</dd>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 row" style="color:white;">
        <div class="mt-5 text-center d-flex flex-column justify-content-center" style="margin-left:auto; margin-right:auto;">
          <div class="box_outside d-flex justify-content-evenly" style="width:100%">
            <div class="box_inside d-flex flex-column" style="height:25rem; display: flex; margin: 10px 30px">
              <dt class="mb-4" style="font-family: 'Kaushan Script', cursive;font-size: 40px;">Experience</dt>
              <dd style="font-family: 'S-CoreDream-3Light';">이용객들이 공유하는 정보에는 그들의 다양한 경험들이 포함됩니다.</dd>
              <dd style="font-family: 'S-CoreDream-3Light';">이러한 경험들은 실제로 해당 관광지를 방문한 사람들의 생생한 이야기로,</dd>
              <dd style="font-family: 'S-CoreDream-3Light';">다른 이용객들이 해당 관광지에 대한 더욱 구체적인 정보를 얻을 수 있도록 도와줍니다.</dd>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:5%">
        <div class="mt-5 text-center d-flex flex-column justify-content-center" style="color:white; margin-left:auto; margin-right:auto;">
          <h5 style="font-family: 'S-CoreDream-3Light';">OnClickTravel은 "여행을 사랑하는 모든 사람을 위한 올인원 커뮤니티 사이트" 입니다.</h5>
          <h5 style="font-family: 'S-CoreDream-3Light';">게시물, 공유 및 경험이라는 키워드에 중점을 두어 사용자에게 여행 경험에 대해 자유롭게 공유하고 여행 계획에 필요한 정보를 제공합니다.</h5>
          <h5 style="font-family: 'S-CoreDream-3Light';">사용자 친화적인 인터페이스를 통해 초보자와 숙련된 여행자 모두 쉽게 사용할 수 있습니다.</h5>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
